/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use Tailwind's dark mode class */
body {
  background-color: theme("colors.background-light");
  color: theme("colors.text-light");
}

.dark body {
  background-color: theme("colors.background-dark");
  color: theme("colors.text-dark");
}

.background-gradient {
  background: radial-gradient(
    circle at top center,
    hsla(222, 80%, 60%, 0.5) 0%,
    hsla(222, 0%, 0%, 0) 50%,
    hsla(222, 0%, 0%, 0) 100%
  );
}
