/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use Tailwind's dark mode class */
body {
  background-color: theme("colors.background-light");
  color: theme("colors.text-light");
}

.dark body {
  background-color: theme("colors.background-dark");
  color: theme("colors.text-dark");
}
